/* Document Level Styles */

/*
  The imports below are needed to include our light dom css for global styles such as fonts and colors.
  You can comment out any of these imports if you do not need that css. For example, if you have your own
  global font family css then you can comment out the typography.css import.
*/

/** Core CSS required for ionic components to work property */
@import "~@ionic/core/css/core.css";

/** Basic CSS for apps built with Ionic */
@import "~@ionic/core/css/normalize.css";
@import "~@ionic/core/css/structure.css";
@import "~@ionic/core/css/typography.css";

/** Optional CSS utils that can be commented out */
@import "~@ionic/core/css/padding.css";
@import "~@ionic/core/css/float-elements.css";
@import "~@ionic/core/css/text-alignment.css";
@import "~@ionic/core/css/text-transformation.css";
@import "~@ionic/core/css/flex-utils.css";

@import "~prismjs/themes/prism-okaidia.css";

ion-content {
  -webkit-user-select: text;
  user-select: text;
}

/*
  The CSS Variables below can be used to theme your app.
  For more info on CSS variables check out:
  https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables

  More info about color theming using Ionic:
  https://ionicframework.com/docs/theming/color-generator
*/

* {
  line-height: 1.3em;
}

/* Allow text selection in Ionic app See: https://devdactic.com/10-simple-ionic-hacks/ */
/*body {
  -webkit-user-select: text;
  user-select: text;
}
THIS DOES NOT!!! WORK!
*/

code {
  /*font-size: 90%;*/
  color: #e83e8c;
  word-break: break-word;
}

.entry-meta {
  color: rgba(0,0,0,.6);
  font-size: .8rem;
}

/* *************************************************************************
ALERTS (I think based on Bootstrap 4?) 
************************************************************************* */

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  clear: both;
}


/* *************************************************************************
TABLES (based on Bootstrap 4) 
************************************************************************* */

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  text-align: left;
  font-size:14px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
th {
  text-align: inherit;
}
.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: rgba(0,0,0,.05);
}
.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table-bordered {
  border: 1px solid #dee2e6;
}
.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 2px;
}
.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}

/* ******************************************************* */
/* YouTube Embedded Videos                                 */
/* ******************************************************* */

/* This sizes the embedded video fluid even to mobile... */
/* wrap iframe in div with this class */
div.video-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom:10px;
}

/* Set the YouTube video iframe with this class and remove the iframe's width and height attributes... */
.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* ******************************************************* */
/* BADGES                                                  */
/* ******************************************************* */
.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}
.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

/* ******************************************************* */
/* ALIGNMENT                                               */
/* ******************************************************* */

.alignleft {
  display: inline;
  float: left; /* Not ignored as IDE says! */
  margin-right: 1.5em;
}

.aligncenter {text-align: center}

.alignright {
  display: inline;
  float: right; /* Not ignored as IDE says! */
  margin-left: 1.5em;
}

img.alignright, img.alignleft {
  margin-bottom:20px;
}

.clear {clear: both}

/* ******************************************************* */
/* IMAGES                                                  */
/* ******************************************************* */

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

ion-img {
  /** 
    * Bug fix for:
    * https://github.com/ionic-team/ionic/issues/18734
    */
  min-height: 1px !important;
}

ion-thumbnail {
  --size: 100px;
  width: var(--size);
  height: var(--size);
}

/* ******************************************************* */

.hidden {
  display: none;
}

/* ******************************************************* */

blockquote {
  font-family: Georgia,Source Serif Pro,serif;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 2.3rem;
  text-align: center;
  quotes: none;
}

blockquote footer {
  display:block;
  font-size:75%;
  color:#6c757d
}

blockquote footer::before{content:"\2014 \00A0"}

/* ******************************************************* */
/* CSS BREAKPOINT OVERRIDES                                */
/* ******************************************************* */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {/*...*/}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {/** */}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  blockquote {
    margin: 3rem 50px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  blockquote {
    margin: 3.2rem 50px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  blockquote {
    margin: 3.5rem 60px;
  }
}


/* ******************************************************* */
/* PRINT ONLY STYLES                                       */
/* ******************************************************* */
@media print {
  ion-tab-bar {
    display: none;
  }
}