/* Document Level Styles */

/*
  The imports below are needed to include our light dom css for global styles such as fonts and colors.
  You can comment out any of these imports if you do not need that css. For example, if you have your own
  global font family css then you can comment out the typography.css import.
*/

/** Core CSS required for ionic components to work property */
@import "~@ionic/core/css/core.css";

/** Basic CSS for apps built with Ionic */
@import "~@ionic/core/css/normalize.css";
@import "~@ionic/core/css/structure.css";
@import "~@ionic/core/css/typography.css";

/** Optional CSS utils that can be commented out */
@import "~@ionic/core/css/padding.css";
@import "~@ionic/core/css/float-elements.css";
@import "~@ionic/core/css/text-alignment.css";
@import "~@ionic/core/css/text-transformation.css";
@import "~@ionic/core/css/flex-utils.css";

@import "~prismjs/themes/prism-okaidia.css";

/*
  The CSS Variables below can be used to theme your app.
  For more info on CSS variables check out:
  https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables

  More info about color theming using Ionic:
  https://ionicframework.com/docs/theming/color-generator
*/

* {
  line-height: 1.3em;
}

code {
  /*font-size: 90%;*/
  color: #e83e8c;
  word-break: break-word;
}

/* *************************************************************************
TABLES (based on Bootstrap 4) 
************************************************************************* */

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  text-align: left;
  font-size:14px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
th {
  text-align: inherit;
}
.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: rgba(0,0,0,.05);
}
.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table-bordered {
  border: 1px solid #dee2e6;
}
.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 2px;
}
.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}

.entry-meta {
  color: rgba(0,0,0,.6);
  font-size: .8rem;
}

/* ******************************************************* */
/* YouTube Embedded Videos                                 */
/* ******************************************************* */

/* This sizes the embedded video fluid even to mobile... */
/* wrap iframe in div with this class */
div.video-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom:10px;
}

/* Set the YouTube video iframe with this class and remove the iframe's width and height attributes... */
.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* ******************************************************* */
/* BADGES                                                  */
/* ******************************************************* */
.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}
.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

/* ******************************************************* */
/* IMAGES                                                  */
/* ******************************************************* */

.img-fluid {
  max-width: 100%;
  height: auto;
}

ion-img {
  /** 
    * Bug fix for:
    * https://github.com/ionic-team/ionic/issues/18734
    */
  min-height: 1px !important;
}

ion-thumbnail {
  --size: 100px;
  width: var(--size);
  height: var(--size);
}
