.responsive {
    width: 100%;
    height: auto;
}
.leftImageContainer {
    max-width: 225px;
}
@media (min-width: 480px) {
    .leftImageContainer {
        max-width: 225px;
        /*display: inline;*/
        float: left;
        margin-right: 1.5em;
    }
}
