.requiredFieldText {
    color: red; font-size: 75%;
}
.optionalFieldText {
    color: gray; font-size: 75%;
}
.clear {
    clear: both
}
.mailchimpHidden {
    position: absolute; left: -5000px;
}
.hidden {
    display: none
}


