.ad-container {
    text-align: center;
    width: 268px
}

.rightbar-unit {
    display: block;
}

@media(min-width: 576px) {
    .ad-container {
        width:507px;
    }
}

@media(min-width: 768px) {
    .ad-container {
        width:228px;
    }
}

@media(min-width: 992px) {
    .ad-container {
        width:209px;
    }
}

@media(min-width: 1200px) {
    .ad-container {
        width:325px;
    }
}

